{% extends 'blog/base.html' %}

{% block main_area %}      
  {% for p in post_list %}
  <!-- Featured blog post-->
  <div class="card mb-4" id="post-{{ p.pk }}">
      {% if p.head_image %}
        <a href="#!"><img class="card-img-top" src="{{ p.head_image.url }}" alt="..." /></a>
      {% else %}
        <a href="#"><img class="card-img-top" src="https://picsum.photos/seed/{{ p.id }}/900/400" alt="..." /></a>
      {% endif %}
      <div class="card-body">
        <div class="small text-muted">
          Posted on {{ p.created_at }} by <a href="#">{{ p.author | upper }}</a>
        </div>
        {% if p.category %}
          <span class="badge bg-primary float-end">{{ p.category }}</span>
        {% else %}
          <span class="badge bg-primary float-end"> 미분류 </span>
        {% endif %}
        <h2 class="card-title">{{ p.title }}</h2>
        <p class="card-text">{{ p.content }}</p>
        <a class="btn btn-primary" href="{{ p.get_absolute_url }}">Read more →</a>
      </div>
  </div>
  {% endfor %} 
{% endblock%}
